4ID3/Lab01/flows.json
[
    {
        "id": "aa86184097d3eeb6",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "541280a673f72216",
        "type": "mqtt in",
        "z": "aa86184097d3eeb6",
        "name": "",
        "topic": "4ID3_GroupA/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac3ba62a04923075",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "7a47012f800816a6",
                "453dbbfa5bd39133"
            ]
        ]
    },
    {
        "id": "7a47012f800816a6",
        "type": "debug",
        "z": "aa86184097d3eeb6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "453dbbfa5bd39133",
        "type": "ui_chart",
        "z": "aa86184097d3eeb6",
        "name": "Humidity",
        "group": "06897643d495cd3c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "37bbf850ee6224fe",
        "type": "mqtt in",
        "z": "aa86184097d3eeb6",
        "name": "",
        "topic": "4ID3_GroupA/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac3ba62a04923075",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "c937857e33ea4819",
                "42b4373ced23837f"
            ]
        ]
    },
    {
        "id": "c937857e33ea4819",
        "type": "debug",
        "z": "aa86184097d3eeb6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "42b4373ced23837f",
        "type": "ui_chart",
        "z": "aa86184097d3eeb6",
        "name": "light",
        "group": "06897643d495cd3c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1770fda47aa27b75",
        "type": "mqtt in",
        "z": "aa86184097d3eeb6",
        "name": "",
        "topic": "4ID3_GroupA/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac3ba62a04923075",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "ea856527030bf389",
                "5cc4d8aec75ee455"
            ]
        ]
    },
    {
        "id": "ea856527030bf389",
        "type": "debug",
        "z": "aa86184097d3eeb6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "5cc4d8aec75ee455",
        "type": "ui_chart",
        "z": "aa86184097d3eeb6",
        "name": "temperature",
        "group": "06897643d495cd3c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c4ab2c4da50b6c62",
        "type": "mqtt in",
        "z": "aa86184097d3eeb6",
        "name": "",
        "topic": "4ID3_GroupA/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac3ba62a04923075",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "acfd4754c7283532",
                "cc1623b976adb89d"
            ]
        ]
    },
    {
        "id": "acfd4754c7283532",
        "type": "debug",
        "z": "aa86184097d3eeb6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "cc1623b976adb89d",
        "type": "ui_chart",
        "z": "aa86184097d3eeb6",
        "name": "pressure",
        "group": "06897643d495cd3c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ac3ba62a04923075",
        "type": "mqtt-broker",
        "name": "MosquittoTest",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "06897643d495cd3c",
        "type": "ui_group",
        "name": "Default",
        "tab": "e88ed52a17a09731",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e88ed52a17a09731",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]